html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* Links Font Styles */
a {
	text-decoration:  none;
	font-weight: bold;
}

/* Titles & Headers */

.header-search {
	font-size: 1.4em;
	font-family: 'Roboto', sans-serif;
	color: #1b1b1b;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 15px;
	margin-top: 45px;
}

.data-title {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* Google Maps Info Window Font Style */
.gm-style .gm-style-iw {
		font-family: 'Roboto', sans-serif;
    font-size: 13px;
    overflow: hidden;
}

/*Map Dimensions*/
#map {
	height: 80%;
	width: 100%;
	position: relative;
	top: 60px;
}

/*Menu Container */
#container {
	position: absolute;
	background-color: rgba(236, 237, 247, 0.76);
	z-index: 1;
	left: 4px;
	top: 70px;
	overflow: hidden;
	border: 1px solid #00000042;
}

/*Menu Container */
#filter {
	font-size: 1em;
	color: blue;
}

/* Menu Map Locations */

.places {
	text-align: left;
	width: 90%;
	padding: 3%;
}

/* Menu Map Location Styles & Position */
.place {
	cursor: pointer;
	color: #000000cc;
	font-family: 'Roboto', sans-serif;
	font-size: 1.05em;
	margin-bottom: 0px;
	margin-left: 0.6em;
}

/* Menu Map Location Pointer Hover Color */
.place:hover {
	color: blue;
}

/* Panorama Dimensions in InfoWindow */
#pano-box {
	width: 220px;
	height: 220px;
	margin: 0 auto;
}

/* Foursquare Box */
#fq-box {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}


/* Menu Icon Position and Cursor */
#menuIcon {
	cursor: pointer;
	position: absolute;
	left: 6px;
	top: 10px;
}

/* Menu Padding, Border, and Cursor */
#close {
	cursor: pointer;
	margin-left: 15px;
	border: .5px solid;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 15px;
	color: #585858;
}

/* Dropdown Menu Width */
.dropdown-menu {
	min-width: 14.4rem;
}

/* Menu Search Form */
.form-control {
	line-height: 1.2;
}

@media (max-width: 500px) {
	#container {
		max-width: 275px;
	}
}

/*Add-On Container Dimensions */
.add-ons-container {
	position: absolute;
	z-index: 2;
	width: 30%;
	margin-left: 4px;
	text-align: right;
}

.gm-iv-address-custom {
	color: orange;
}

.no-bullets {
	list-style-type: none;
	padding-left: 0px;
}

.backGR {
	border: 1px solid black;
}

.bold-this {
	font-weight: bold;
}
